version: '3.8'
services:
  db:
    image: postgres:latest
    container_name: postgres_crud
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: crud_db
    ports:
      - "5432:5432"